{% capture content %}
<header id="topnav">
  <a href="/">{{site.title}}</a>
</header>

<section id="content">
  <section class="photo" {% if type == "page" %}style="background-image:url({{assets.first.url | fallback: '/assets/cropped-bag2.jpg'}});"{% endif %}>
    <h1>{{title}}</h1>
  </section>
  <article>
    {{ body }}
    {% if parent.title == "Art" %}
    <section class="image-grid">
      {% for asset in assets %}
        {% if asset.type == 'image' %}
          <a href="{{asset.url}}"><img src="{{asset.url}}"></a>  
        {% endif %}
      {% endfor %}
    </section>
    {% endif %}
  </article>
</section><!-- /content -->

{% endcapture %}

{% include 'layouts/default' %}