<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>La Casita Verde</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<h1>La Casita<br> Verde</h1>

	{% if pages %}
		{% comment %} Show subpages if there are any available {% endcomment %}
		<nav class="subpage-menu">
			{% for subpage in pages %}
				<a href="{{subpage.url}}">
					{% if subpage.assets.size > 0 %}<img src="{{subpage.assets.first.url}}">{% endif %}
					{{subpage.title}}
				</a>
			{% endfor %}
		</nav>
	{% endif %}


		<div>
			<p>{{body}}</p>
		</div>
		<img src="compost.png" alt="">

		<figure id="mouse-pointer"></figure>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//use.typekit.net/ksi8oct.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		<script>
		$(function (){

			$(window).mousemove(function(event) {
				$('#mouse-pointer').css({
					'top' : event.pageY + 'px',
					'left' : event.pageX + 'px'
				});
			});

		});
		</script>
	</body>
</html>